@font-face {
  font-family: SourceSansPro-Bold;
  src: url("../fonts/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: SourceSansPro-BoldItalic;
  src: url("../fonts/SourceSansPro-BoldItalic.ttf");
}

@font-face {
  font-family: SourceSansPro-Italic;
  src: url("../fonts/SourceSansPro-Italic.ttf");
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url("../fonts/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: SourceSansPro-LightItalic;
  src: url("../fonts/SourceSansPro-LightItalic.ttf");
}

@font-face {
  font-family: SourceSansPro-Regular;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

* {
  box-sizing: border-box;
  color-scheme: dark;
  font-family: SourceSansPro-Regular, serif;
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #090c15;
}

.flex-container{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.colors {
  background-color: #090c15;
  color: #cbd4d9;
}


/*colors
background #090c15
green      #84ba64
text       #cbd4d9
*/